* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    margin: auto;
    padding: 0;
    width: 1000px;
    position: relative;
}

h2 {
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    text-align: left;
}

h3 {
    text-decoration: none;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    display: inline;
}

input {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
}

.select {
    background-color: #599bb3;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    margin: auto;
}

.select:hover {
    background-color: #408c99;
}

.select:active {
    position: relative;
    top: 1px;
}

header {
    display: flex;
    flex-direction: row;
}

section {
    margin: 50px 0;
}

#auto-time-set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.settings-left {
    margin-left: auto;
    margin-right: 50px;
}

.settings-right {
    margin-right: auto;
}

.time-display {
    margin: auto;
}

.section1 {
    display: block;
}

.time-display-table {
    display: inline;
}

.section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.menus {
    margin: auto 50px auto auto;
}

.manual-setup-tables {
    margin-right: auto;
}

footer {
    display: flex;
    flex-direction: row;
}

.time-setup {
    display: inline;
}

.buttons {
    margin-left: 100px;
}

.option-name {
    width: 300px;
    height: 20px;
    text-align: left;
    margin: auto;
}

.option-time {
    width: 50px;
    height: 20px;
    text-align: center;
    margin: auto;
}