* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    margin: auto;
    padding: 0;
    width: 1000px;
    position: relative;
}

h2 {
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    text-align: left;
}

h3 {
    text-decoration: none;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    display: inline;
}

h4 {
    text-align: center;
    margin: auto;
}

input {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
}

.select {
    background-color: #599bb3;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    margin: auto;
}

.select:hover {
    background-color: #408c99;
}

.select:active {
    position: relative;
    top: 1px;
}

header {
    display: flex;
    flex-direction: row;
}

section {
    margin: 50px 0;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.section2 {
    display: block;
    width: 100%;
}

.menus {
    margin: auto 50px auto auto;
}

.calendar-wrapper {
    margin: auto;
    justify-content: center;
}

.calendar {
    display: block;
}

.calendar-button {
    border: none;
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    flex-direction: row;
}

.time-display-table {
    display: inline-block;
    width: 300px;
    border: 1px solid black;
}

.weekend-ignore-check {
    min-width: 10px;
    min-height: 10px;
}