* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    margin: auto;
    padding: 0px;
    width: 1000px;
    position: relative;
}

h2 {
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    text-align: left;
}

h3 {
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    text-align: center;
    display: inline-block;
}

.select {
    background-color: #599bb3;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 15px;
    text-decoration: none;
    margin: auto;
}

.select:hover {
    background-color: #408c99;
}

.select:active {
    position: relative;
    top: 1px;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 20px;
    background-color: #599bb3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.menus {
    margin: 50px auto;
}

.calendar-wrapper {
    margin: auto;
    text-align: center;
    min-height: 650px;
    min-width: 600px;
    border: 1px solid #408c99;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 5px solid #408c99;
    border-right: 5px solid #408c99;
    padding: 10px;
}

.calendar {
    display: block;
    padding: 0 10px;
}

.calendar-button {
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.calendar-button:hover {
    background-color: #408c99;
}

footer {
    display: flex;
    flex-direction: row;
}

.time-display-table {
    display: inline-block;
    width: 300px;
    border: 2px solid black;
    font-size: 18px;
    padding: 10px;
}

td {
    text-align: right;
}

th {
    padding: 10px 0px;
    border-bottom: 1px solid rgb(156, 156, 156);
    border-radius: 5px;
}

.calendar-swipe {
    text-decoration: none;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 50px;
    background-color: #599bb3;
    padding: 0 70px;
    color: white;
    border-radius: 50px;
}

h4 {
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-size: 40px;
    display: inline;
}

.setup {
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #599bb3;
    display: block;
    text-align: left;
    padding-left: 20px;
}

.setup:hover {
    color: #408c99;
}

.weekend-ignore-check {
    min-width: 10px;
    min-height: 10px;
}

#logout {
    display: inline-block;
    margin: auto;
}

input {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
}

p {
    font-size: 20px;
}

.vertical-menu {
    width: 350px;
    height: 120px;
    overflow-y: auto;
    border: 1px solid #599bb3;
    border-bottom-left-radius: 7px;
    margin-bottom: 10px;
}

.vm-option {
    width: 330px;
    max-width: 330px;
    height: 35px;
    word-break: break-all;
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    color: white;
    background-color: #6b8d99;
}