* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    margin: auto;
    width: 1000px;
    padding-top: 100px;
}

img {
    width: auto;
    height: 150px;
    display: block;
    margin: auto;
    margin-bottom: 70px;
}

h1 {
    text-decoration: none;
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
}

h2 {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

h3 {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.setup {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 24px;
    color: #599bb3;
    display: block;
    text-align: center;
}

.setup:hover {
    color: #408c99;
}

table {
    display: inline-block;
    width: 300px;
    border: 1px solid black;
}

.time-display-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time-display {
    margin: auto;
}

.time-display-table {
    display: inline-block;
    width: 300px;
    border: 2px solid black;
    font-size: 18px;
    padding: 10px;
}

td {
    text-align: right;
}